.container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f0f0;
}
.header{
    /* position:absolute; */
    margin-top: 30px;
    background-color: white;
    height: 40px;
    width: 100%;
}
.quiz-container {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    /* padding: 10px 20px; */
    border: none;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
    font-size: 16px;
}

.option.correct {
    background-color: #4caf50; 
    color: white;
}

.option.incorrect {
    background-color: #f44336;
    color: white;
}
button{
    display: flex;
}
.choice{
    height: 40px;
    width: 50px;
    background-color: rgb(239, 74, 74);
    align-items: center;
    border-radius: 15%;
    text-align: center;
}
.text{
    margin-top: 9px;
}
.ans{
    margin-top: 9px;
}

